a.out
helloworld
1.2Celsius-to-Farhenheit
1.3Celsius-to-Farhenheit-FOR
1.6arrays
4.1grep
5.1pointers
5.2swap
5.6pointerarrays
6.2struct-function
6.6table-lookup
6.point-list
7.1standard-io
7.5file-copy
7.5file-copy-errors